
.allProducts-wrapper{
    width: 100%;
    height: auto;
    
 
 
}
.catalog_head{
    width: 250px;
    margin-left: 1.2em;
    margin-top: 2em;
    margin-bottom: 1em; 
}

.fetch_info{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.all_categ-photos{
    display: flex;
    flex-direction: column;
}

.cat_title{
    width: 310px;
}

.catalog_photo{
    width: 280px;
    height: 250px;
    border: solid 1px rgb(214, 209, 209);
    
}

.catalog_btn{
    margin-top: 100px;
}

@media(max-width:1150px){
    .allProducts-wrapper{
        height: 10300px;
    }
    .catalog_info{
        height: 10000px;
        grid-template-columns: 1fr 1fr;
        margin-top: 8em;

    }
    .catalog_grid{
        width: 300px;
        margin-left: 2em;
    }
    .catalog_text{
        width: 300px;
    }
}