
.allProducts-wrapper{
    width: 100%;
    height: auto;
    
 
 
}
.catalog_head{
    width: 250px;
    margin-left: 1.2em;
    margin-top: 2em;
    margin-bottom: 1em; 
}

.fetch_info{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.all_categ-photos{
    display: flex;
    flex-direction: column;
}

.cat_title{
    width: 310px;
}

.catalog_photo{
    width: 300px;
    height: 250px;
    border: solid 1px rgb(214, 209, 209);
    
}