
.categories_wrapper{
    width: 100%;
    height: 600px;
    
}
.categories_sec{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: -3em;

}
.cat_text-div{
    width: 30%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    letter-spacing: 0.03em;
}
.fetch_info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
}

.all_categ-photos{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 1.25em;
    align-items: center;
}

.all_cat-button{
    font-family: 'Monserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #000000;
}
.all_cat-button{
    box-sizing: border-box;
    border: 2px solid #8b8b8b;
    background-color: #ffffff;
    width: 120px;
    height: 31px;
    font-size: 12px;
    color: #8b8b8b;

}
.cat_title{
    font-weight: 600;
    font-size: 18px;
    margin-top: 1em;
}
.allCategories_link{
    display: flex;
    flex-direction:column-reverse;
    text-align: center;
}
.all_photos-div{
    width: 318px;
    height: 300px;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 20px;
    background-position: center;
    margin-top: 2em;
}