
*{margin: 0; padding: 0;box-sizing: border-box;}



html,body{
    width: 100%;
    height: auto;
}
h3{
    font-family: 'Monserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
}
h4{
    font-family: 'Monserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
    letter-spacing: .03em;
}