

.oneCategory_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 850px;
}



.oneCategory_content{
    width: 100%;
    height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

.oneCategory_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



.oneCategory_btn{
    width: 279px;
    height: 72px;
    background: #f1fff1;
    border: 2px solid #339933;
    border-radius: 21px;
    color: #339933;
    font-family: 'Monserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    opacity: 0;
    

}

.oneCategory_btn:hover {
    opacity: 1;
    transition: .3s;
}





.oneCategory_prices{
    display: flex;
    justify-content: space-around;
    width: 100%;
}



.btn_item{
    display: block;
    position: absolute;
    margin-top: 195px;
    opacity: 0.9;
   

}

.image_item :hover.btn_item {
    
    cursor: pointer;
    display: block;
}
.to_item-link{
    text-decoration: none;
}
.item_photo{
    border-radius: 16px;
}
.oneCategory_head{
    margin: 1em;
}