

.footer{
    width: 100%;
    height: 500px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_wrapper{
    width: 94%;
    height: 90%;
    display: flex;
    
}
.left_footer{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}
.address_name ,.address ,.tel_num,.contacts,.work,.work_h{
    font-family: 'Monserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #000000;
}
.contacts,.address_name{
    margin-left: .2em;
    margin-top: 3em;
    margin-bottom: 1em;
}
.address_name{
    margin-left: 2em;
}

.tel_num{
  font-size: 70px;
  font-weight: 600;
  margin-left: .2em;
}
.social_madia{
    display: flex;
    margin-top: 1.5em;
    margin-left: -3.8em;
}
.address{
    margin-left: 2em; 
   font-weight: 600;
}
.telegram{
    width: 44px;
    height: 44px;
    margin-left: 5em;
    
}
.tel_text {
    margin-left: 4.4em;
    width: 7%;
}
.whats_div{
    width: 150px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -3em;
}
.whatsapp{
    width: 46px;
    height: 46px;
    margin-left: 7em;
}
.whats_text{
    margin-left: 7em;
}
.whats_text.tel_text{
    font-family: 'Monserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    color: #000000;
}

.right_footer{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.work{
    margin-left: 5em;
    margin-top: 2em;
    font-weight: 500;
    font-size: 18px;

}
.work_h{
    margin-left: 5em;
   
    font-weight: 600;
    font-size: 24px;
}
.st_st{
    margin-top: 6em;
    margin-left: -16em;
    color: darkgray;
}

@media(max-width:1150px){
    .footer{
        height: 500px;
    }
    .footer_wrapper{
        flex-direction: column;
        justify-content: center;
    }
    .right_footer{
      margin-left: 25em;
      margin-bottom: 10em;
    }
    .left_footer{
        margin-top: 38em;
        margin-left: 2em;
    }
}

