
.sales_wrapper{
    width: 100%;
    height: 500px;
    
}
.sales_sec{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
}
.sales_head{
  width: 10%;
  height: 10%;
  font-family: 'Monserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-left: 1em;
}
.sales_content{
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
   

    
}

.prices_sales{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product_title{
    text-align: center;
    margin-top: 1em;
}
.discount_price{
  font-family: 'Monserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.orig_prices{
    font-family: 'Monserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #8b8b8b;
  text-decoration: line-through;
}

.percentage,.product_title{
    font-family: 'Monserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #FF32A1;
}
.product_title{
    font-size: 16px;
    color: #3a3a3a;
}