
.onlySales_wrapper{
    grid-template-columns: repeat(4,23.3%);
    width: 100%;
    height: auto;
}
.all_sales-head{
    margin: 1em;
}
.sales_products{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2em;
}

.block_info{
    display: flex;
    flex-direction: column;
}

.sales_price-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
}

.onlySales_btn{
    margin-top: -25px;
}